@import '../object-sans/stylesheet.css';
@import './variables.scss';
@import 'animations/transitions';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Object Sans', sans-serif;
  font-size: 14px;
}

a {
  text-decoration: none;
}

.theme-light {
  a {
    color: $mainBlack;
  }
}

.theme-dark {
  a {
    color: $white;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-family: 'Object Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.block-title {
  color: $darkGray;
  font-size: $font-20;
  margin: 0 0 3em;
  font-weight: normal;
  display: flex;
  font-size: 1.4vw;
  line-height: 1.7vw;
  @media #{$media-lg} {
    font-size: 1.7vw;
    line-height: 2vw;
  }
  @media #{$media-md} {
    font-size: 1.8vw;
    line-height: 2vw;
  }
  @media #{$media-xs} {
    font-size: $font-20;
    line-height: 20px;
    margin: 0 0 2em;
  }
  &:before {
    content: '';
    display: inline-block;
    width: 1.3vw;
    height: 1.3vw;
    margin-right: 0.8vw;
    background: url('~/assets/images/circle-rose.svg') center no-repeat transparent;
    background-size: contain;
    @media #{$media-lg} {
      width: 1.7vw;
      height: 1.7vw;
      margin-right: 1vw;
    }
    @media #{$media-xs} {
      width: 15px;
      height: 15px;
      margin-right: 10px;
    }
  }
}

.block-description {
  font-style: normal;
  font-weight: normal;
  font-size: 1.8vw;
  line-height: 2.6vw;
  text-transform: uppercase;
  margin: 0;
  @media #{$media-lg} {
    font-size: 2.4vw;
    line-height: 3vw;
  }
  @media #{$media-xs} {
    font-size: 22px;
    line-height: 38px;
  }
}

.arrow-link {
  font-size: 1.2vw;
  line-height: 1.2vw;
  margin: 0;
  font-weight: normal;
  transition: color $textTimeTransition ease;
  color: $white;
  @media #{$media-lg} {
    font-size: 1.8vw;
    line-height: 1.8vw;
  }
  @media #{$media-md} {
    font-size: 2vw;
    line-height: 2vw;
  }
  @media #{$media-xs} {
    font-size: $font-20;
    line-height: $font-20;
  }
  &:after {
    position: relative;
    top: 2px;
    content: '';
    display: inline-block;
    width: 2vw;
    height: 1vw;
    margin-left: 1.2vw;
    background-color: $white;
    transition: background-color, transform $textTimeTransition ease;
    mask: url('~/assets/images/arrow-link.svg') 100% no-repeat;
    @media #{$media-lg} {
      width: 2.2vw;
      height: 1.3vw;
      top: 3px;
    }
    @media #{$media-md} {
      width: 2.5vw;
      height: 1.5vw;
      top: 1px;
    }
    @media #{$media-xs} {
      width: 30px;
      height: 18px;
      top: 3px;
      margin-left: 15px;
    }
  }
  &:hover {
    color: $styleRose;
    &:after {
      background-color: $styleRose;
      transform: rotate(-30deg);
    }
  }
}

.top-border {
  padding-top: 3vw;
  padding-bottom: 6vw;
  position: relative;
  @media #{$media-md} {
    padding-bottom: 70px;
  }
  @media #{$media-xs} {
    padding-top: 24px;
    padding-bottom: 64px;
  }
  &:before,
  &:after {
    content: '';
    display: block;
    border-top: 1px solid $darkGray;
    position: absolute;
    top: 0;
    @media #{$media-md} {
      padding-top: 30px;
    }
    @media #{$media-xs} {
      padding-top: 25px;
    }
  }
  &:before {
    right: 50%;
  }
  &:after {
    left: 50%;
  }
  &.animate-line {
    &:before,
    &:after  {
      animation: animate-line $baseTimeTransition;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes animate-line {
  0% {
      width: 0;
  }
  100% {
      width: 50%;
  }
}

// helper classes
.hidden-xs {
  @media #{$media-xs} {
    visibility: hidden!important;
    display: none!important;
  }
}

.visible-xs {
  visibility: hidden;
  display: none;
  @media #{$media-xs} {
    visibility: visible;
    display: block;
  }
}

.opacity-0 {
  opacity: 0;
}
