@import '../object-sans/stylesheet.css';
@import './variables.scss';
@import 'animations/transitions';

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  background-color: $mainBlack;
  color: $white;
  margin: 0;
  padding: 0;
  font-family: 'Object Sans', sans-serif;
  font-size: 14px;
}

a {
  color: $white;
  text-decoration: none;
}

body {
  padding: 2% 2.5% 0;
  @media #{$media-xs} {
    padding: 15px 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

button {
  background: none;
  border: none;
  padding: 0;
  font-family: 'Object Sans', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.block-title {
  background: url('~/assets/img/circle-rose.svg') 0 2px no-repeat transparent;
  color: $darkGray;
  font-size: $font-20;
  padding-left: 25px;
  margin: 0 0 3em;
  font-weight: normal;
  @media #{$media-sm-up} {
    font-size: $font-22;
  }
  @media #{$media-md-up} {
    font-size: $font-24;
  }
}

.block-description {
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 48px;
  text-transform: uppercase;
  margin: 0;
  @media #{$media-xs} {
    font-size: 24px;
    line-height: 40px;
  }
}

.arrow-link {
  // background: url('~/assets/images/arrow-link.svg') right 2px no-repeat transparent;
  font-size: $font-20;
  line-height: $font-20;
  margin: 0;
  font-weight: normal;
  transition: color $textTimeTransition ease;
  color: $white;
  &:after {
    position: relative;
    top: 3px;
    content: '';
    display: inline-block;
    width: 30px;
    height: 18px;
    margin-left: 25px;
    background-color: $white;
    transition: background-color, transform $textTimeTransition ease;
    mask: url('~/assets/images/arrow-link.svg') no-repeat;
  }
  &:hover {
    color: $styleRose;
    &:after {
      background-color: $styleRose;
      transform: rotate(-30deg);
    }
  }
}

.top-border {
  border-top: 1px solid $darkGray;
  padding-top: 50px;
  padding-bottom: 100px;
  @media #{$media-md} {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  @media #{$media-xs} {
    padding-top: 25px;
    padding-bottom: 50px;
  }
}

// helper classes
.hidden-xs {
  @media #{$media-xs} {
    visibility: hidden!important;
    display: none!important;
  }
}
