@import '../object-sans/stylesheet.css';
@import './variables.scss';
@import 'animations/transitions';

html, body {
  background-color: $mainBlack;
  color: $white;
  margin: 0;
  padding: 0;
  font-family: 'Object Sans', sans-serif;
  font-size: 14px;
}

a {
  color: $white;
  text-decoration: none;
}

.block-title {
  background: url('~/assets/img/circle-rose.svg') 0 0 no-repeat transparent;
  color: $darkGray;
  font-size: $font-20;

  @media #{$media-sm-up} {
    font-size: $font-24;
  }
}