//color variables

//RED
$lightRed: #FF3232;
$darkRed: #DB2121;

//GREEN
$lightGreen: #1DC25F;
$darkGreen: #189349;

//STYLE
$styleRose: #E72A63;

//OTHER
$otherComp: #A44CCD;
$otherLink: #335CEE;
$otherFocus: #FF3371;

//GRAY
$blackGray: #343537;
$darkGray: #84868B;
$gray: #ABADB0;
$lightGray: #DFDFDF;
$whiteGray: #F1F1F1;
$white: #fff;

//BLACK
$mainBlack: #0F0F0F;
$asphaltBlack: #171717;

//animations
$baseTimeTransition: .5s;
